nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo01.collapse.navbar-collapse.prev
          a.navbar-brand.col-sm-7(href='#') Stage: #{stage}
          form.form-inline.col-sm-5
            .btn-group
              button.btn.btn-warning(type='button') Stages
              button.btn.btn-warning.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href=url+'/motor/motorItem/notstarted/'+tagID) Not Started
                a.dropdown-item(href=url+'/motor/motorItem/oncheckup/'+tagID) On Checkup
                a.dropdown-item(href=url+'/motor/motorItem/prelimdocs/'+tagID) Prelim Docs
                a.dropdown-item(href=url+'/motor/motorItem/onrewind/'+tagID) On Rewind
                a.dropdown-item(href=url+'/motor/motorItem/onfabrication/'+tagID) On Fabrication
                a.dropdown-item(href=url+'/motor/motorItem/inbaking/'+tagID) In Baking
                a.dropdown-item(href=url+'/motor/motorItem/assemblyandtesting/'+tagID) Assembly and Testing
                a.dropdown-item(href=url+'/motor/motorItem/painting/'+tagID) Painting
                a.dropdown-item(href=url+'/motor/motorItem/fordelivery/'+tagID) For Delivery
                a.dropdown-item(href=url+'/motor/motorItem/forbillingstatement/'+tagID) For Billing Statement
                a.dropdown-item(href=url+'/motor/motorItem/foror/'+tagID) For OR
                a.dropdown-item(href=url+'/motor/motorItem/completed/'+tagID) Completed