doctype html
html(lang='en')
  include components/header.pug
  body
    include components/navbar.pug
    .container-fluid
      .row
        include components/sidebar.pug
        main.col-md-9.ml-sm-auto.col-lg-10.px-md-4.maincontent(role='main')
  
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2.page-title Dashboard
            

          div.pieCharts.row
            div.col-6
              canvas#myPieChart1.my-4.w-100
            div.col-6
              canvas#myPieChart2.my-4.w-100
          div
            canvas#myChart.my-4.w-100(width='900', height='350')
         
          
          div.container.table-titles 
            .row 
              h2.col-sm.page-title Motor Items
              .input-group.mb-3.col-sm
                .input-group-prepend
                  span#inputGroup-sizing-default.input-group-text 
                    svg.bi.bi-search(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z')
                      path(fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z')

                input.form-control(type='text' aria-label='Default' aria-describedby='inputGroup-sizing-default')

          .table-responsive
            table.table.table-striped.table-sm
              thead.thead-dark
                tr
                  th Motor ID
                  th Pulled out days 
                  th Status
                  th Company
                  th Motor Type
                  th Power
                  th PM
                  th Submotors
                  th Remarks
              tbody#newItem.recentItems
                each item in items
                    tr
                      td.tagid 
                        - var motorID = item.tagID
                        
                        a(href="motor/motorItem/"+motorID) #{motorID}
                      - var today = new Date();
                      - var dd = String(today.getDate()).padStart(2, '0');
                      - var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                      - var yyyy = today.getFullYear();
                      - today = yyyy + '-' + mm + '-' + dd;
                      - const diffTime = Math.abs(new Date(today) - new Date(item.datePulledOut));
                      - const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                      td #{diffDays}
                      - var convertedstatus = '' 
                      if (item.status == 'notstarted')
                        td Not Started
                      else if (item.status == 'oncheckup')
                        td On Checkup
                      td #{item.company}
                      td #{item.motorType}
                      td #{item.power}
                      if item.pmID == ''
                        td NO GP
                      else 
                        td HAS GP
                      td #{item.submotors.length}
                      td #{item.remarks}

          form#test-form.white-popup-block.mfp-hide
            .stage-and-dropdown
              h1 Stage: On Check-up
            fieldset(style='border:0;')
              p
                | Lightbox has an option to automatically focus on the first input. It's strongly recommended to use 
                code inline
                |  popup type for lightboxes with form instead of 
                code ajax
                |  (to keep entered data if the user accidentally refreshed the page).
              ol
                li
                  label(for='name') Name
                  input#name(name='name' type='text' placeholder='Name' required='')
                li
                  label(for='email') Email
                  input#email(name='email' type='email' placeholder='example@domain.com' required='')
                li
                  label(for='phone') Phone
                  input#phone(name='phone' type='tel' placeholder='Eg. +447500000000' required='')
                li
                  label(for='textarea') Textarea
                  br
                  textarea#textarea Try to resize me to see how popup CSS-based resizing works.

  include components/footer.pug
    