doctype html
html(lang='en')
  include components/header.pug
  body
    include components/navbar.pug
    .container-fluid
      .row
        include components/sidebar.pug
        main.col-md-9.ml-md-auto.col-lg-10.maincontent(role='main')
  
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2.page-title Dashboard
            h1.h2.page-title#nexTagID Next: #{currTagID}
            
          if role == 'admin'
            div.pieCharts.row
              div.col-6#motorCountWrapper
                canvas#motorCounts.my-4.w-100
                .row 
                  .col-5
                    .input-group
                      button.form-control.day day
                      button.form-control.month month
                      button.form-control.year year
                  .col-7
                    .input-group.mb-12
                      - var today = new Date();
                      - var dd = String(today.getDate()).padStart(2, '0');
                      - var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                      - var yyyy = today.getFullYear();
                      - today = yyyy + '-01-01';
                      - yearafter = (yyyy+1) + '-01-01';
                      
                      input.form-control.fromdate(type='date' placeholder='From' aria-label='Username' value=today)
                      span.input-group-text -
                      input.form-control.todate(type='date' placeholder='To' aria-label='Server' value=yearafter)

              div.col-6#motorStagesByDateWrapper
                canvas#motorStagesByDate.my-4.w-100
                .row 
                  .col-5
                    .input-group
                      button.form-control.day day
                      button.form-control.month month
                      button.form-control.year year
                  .col-7
                    .input-group.mb-12
                      - var today = new Date();
                      - var dd = String(today.getDate()).padStart(2, '0');
                      - var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                      - var yyyy = today.getFullYear();
                      - today = yyyy + '-01-01';
                      - yearafter = (yyyy+1) + '-01-01';
                      
                      input.form-control.fromdate(type='date' placeholder='From' aria-label='Username' value=today)
                      span.input-group-text -
                      input.form-control.todate(type='date' placeholder='To' aria-label='Server' value=yearafter)
              
            .row
              .col-6
                canvas#myPieChart2.my-4.w-100
              div.col-6
                canvas#myChart
            .row 
              div.col#salesRepByDateWrapper(style="height: 400px" )
                canvas#salesRepByDate.my-4.w-100
                .row 
                  .col-5
                    .input-group
                      button.form-control.day day
                      button.form-control.month month
                      button.form-control.year year
                  .col-7
                    .input-group.mb-12
                      - var today = new Date();
                      - var dd = String(today.getDate()).padStart(2, '0');
                      - var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                      - var yyyy = today.getFullYear();
                      - today = yyyy + '-01-01';
                      - yearafter = (yyyy+1) + '-01-01';
                      
                      input.form-control.fromdate(type='date' placeholder='From' aria-label='Username' value=today)
                      span.input-group-text -
                      input.form-control.todate(type='date' placeholder='To' aria-label='Server' value=yearafter)

             
         
          
          div.container.table-titles(style="margin-top: 100px" )
            .row 
              h2.col-sm.page-title Motor Items
              form#searchForm(method="POST")
                .input-group.mb-3.col-sm
                  button.input-group-prepend#search(type="submit")
                    span#inputGroup-sizing-default.input-group-text 
                      svg.bi.bi-search(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z')
                        path(fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z')

                  input.form-control(type='text' aria-label='Default' aria-describedby='inputGroup-sizing-default' name='searchfield')

          .table-responsive
            table.table.table-striped.table-sm
              thead.thead-dark
                tr
                  //- th isSubmotor
                  th Motor ID
                  th Pulled out days 
                  th Status
                  th Company
                  th Motor Type
                  th Power
                  th PM
                  th Remarks
                  th Submotor
              tbody#newItem.recentItems
                each item in items
                    tr.motorRows
                      td.tagid 
                        - var motorID = item.tagID
                        
                        a(href="motor/motorItem/notstarted/"+motorID, class=motorID) #{motorID}
                      - var today = new Date();
                      - var dd = String(today.getDate()).padStart(2, '0');
                      - var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                      - var yyyy = today.getFullYear();
                      - today = yyyy + '-' + mm + '-' + dd;
                      - const diffTime = Math.abs(new Date(today) - new Date(item.datePulledOut));
                      - const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                      td #{diffDays}
                      - var convertedstatus = '' 
                      if (item.status == 'notstarted')
                        td.stage Not Started
                      else if (item.status == 'oncheckup')
                        td.stage On Checkup
                      else if (item.status == 'prelimdocs')
                        td.stage Prelimdocs
                      else if (item.status == 'onrewind')
                        td.stage On Rewind
                      else if (item.status == 'onfabrication')
                        td.stage On Fabrication
                      else if (item.status == 'inbaking')
                        td.stage In Baking
                      else if (item.status == 'assemblyandtesting')
                        td.stage Assembly and Testing
                      else if (item.status == 'painting')
                        td.stage Painting
                      else if (item.status == 'fordelivery')
                        td.stage For Delivery
                      else if (item.status == 'forbillingstatement')
                        td.stage For Billing Statement
                      else if (item.status == 'foror')
                        td.stage For OR
                      else if (item.status == 'completed')
                        td.stage Completed
                      if(item.company_.length > 0)
                        td #{item.company_[0].compname}
                      td #{item.motorType}  
                      if item.power_rpm.length > 0
                        td.power #{item.power_rpm[0].power}
                      else 
                        td.power 
                      if item.pmID == null
                        td None
                      else 
                        td HAS PM
                      //- td #{item.submotors.length}
                      td #{item.remarks}
                      if item.submotor.parent != null
                        td Submotor of #{item.submotor.parent}
                      else
                        td No Submotor
  include components/footer.pug
    
    