doctype html
html(lang='en')
  include components/header.pug
  body#bodyStyle
    include components/navbar.pug
    .container-fluid
      .row
        include components/sidebar.pug
        main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
        
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2 All Items
            .btn-toolbar.mb-2.mb-md-0
         
          .table-responsive
            table.table.table-striped.table-sm
              thead.thead-dark
                tr
                  th Tag ID
                  th Urgent? 
                  th Sales Representative
                  th Date Pulled Out
                  th Company
                  th Motor Type
                  th HP
                  th KW
                  th RPM
                  //- th Others
                  //- th Parts
                  th Remarks
              tbody#newItem
                each item in items
                  tr
                    td #{item.tagID}
                    if item.urgent === 'on'
                        td yes
                    else 
                        td no 

                    td #{item.salesRep}
                    td #{item.datePulledOut}
                    td #{item.company}
                    td #{item.motorType}
                    td #{item.hp}
                    td #{item.kw}
                    td #{item.rpm}
                    td #{item.remarks}
              
        form#test-form.white-popup-block.mfp-hide
          h1 Stage: On Checkup

          fieldset(style='border:0;')
            p
              | Lightbox has an option to automatically focus on the first input. It's strongly recommended to use 
              code inline
              |  popup type for lightboxes with form instead of 
              code ajax
              |  (to keep entered data if the user accidentally refreshed the page).
            ol
              li
                label(for='name') Name
                input#name(name='name' type='text' placeholder='Name' required='')
              li
                label(for='email') Email
                input#email(name='email' type='email' placeholder='example@domain.com' required='')
              li
                label(for='phone') Phone
                input#phone(name='phone' type='tel' placeholder='Eg. +447500000000' required='')
              li
                label(for='textarea') Textarea
                br
                textarea#textarea Try to resize me to see how popup CSS-based resizing works.

  include components/footer.pug

    

      
     
