html(lang='en')
  include ../components/stage_header.pug
  body.bg-light
    .container.prelimdocs
      include ../components/stage_navbar.pug
      form(method='post', enctype="multipart/form-data")
        include ../components/buttons.pug
        .row.motorinfo
          .col-md-4.order-md-2.mb-4#closepane.show
            h4.d-flex.justify-content-between.align-items-center.mb-3
              span.text-muted Motor Group Pane
            ul.list-group.mb-3.motorpane
              li.list-group-item.d-flex.justify-content-between.lh-condensed(data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                div
                  h6.my-0 #{motordetails.notstarted[0].motorType} - #{oncheckup.power}
                  small.text-muted ID: #{tagID}

            //- .input-group.card.p-2
            //-   button.btn.btn-info#save(type="button") Save
            //- .input-group.card.p-2
            //-   button.btn.btn-danger#submit(type='submit') Submit
          .col-md-8.order-md-1.motorcol
            h4.mb-3 Motor Details
            form
              #accordionExample.accordion
                .card
                  #headingOne.card-header.mainmotor
                    h2.mb-0
                      button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | Main Motor
                    .closepane
                      input.btn.btn-primary(type='button' name='closepane' value='Close Pane' data-toggle="collapse" data-target="#closepane" aria-expanded="true" aria-controls="closepane")
                  #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                      .row
                        .card.ml-3.mb-3.mr-3.bg-success.text-white.col
                          .card-body
                            em This is the final stage. Kindly click the Submit Button if the motor is already finished
                      .row
                        .col-md-6.mb-3  
                          label(for='voltage') Start Date
                          input.form-control(type='date' name='startdate' placeholder='' required='')
                        .col-md-6.mb-3  
                          label(for='voltage') Finish Date
                          input.form-control(type='date' name='finishdate' placeholder='' required='')
                        
                        
    include ../components/stage_footer.pug
    script(src='../js/common.js')
    script. 
        - $(document).ready(function() {
            const tagID = !{JSON.stringify(tagID)};
            var baseurl = window.location.protocol + "//" + window.location.host + "/";

            -$('#save').click(function(e) {
              $.magnificPopup.open({
                items: {
                  src: '<div class="white-popup">Saving...</div>',
                  type: 'inline'
                }
              });
              $.ajax({   
                  async: true, 
                  method: 'POST',
                  data:  $('form').serialize(),   
                  url: baseurl+'motor/save/completed/'+tagID,                          
                  success: function (data) {  
                    $.magnificPopup.close();
                    //Close the popup
                    e.preventDefault();
                    if (window.parent == window.top) {
                        window.parent.$.magnificPopup.close();
                    }
                  },
                  error: function (xhr, text, error) {              
                    alert('Error: ' + error);
                  }
              })
              
            });

            const draft = !{JSON.stringify(draft)};

            if(draft)
            {
              $('input[name="orno"]').val(draft[0].orno)

              var now = new Date(draft[0].startdate);
              var day = ("0" + now.getDate()).slice(-2);
              var month = ("0" + (now.getMonth() + 1)).slice(-2);
              var startdate = now.getFullYear()+"-"+(month)+"-"+(day) ;

              var now = new Date(draft[0].finishdate);
              var day = ("0" + now.getDate()).slice(-2);
              var month = ("0" + (now.getMonth() + 1)).slice(-2);
              var finishdate = now.getFullYear()+"-"+(month)+"-"+(day) ;
            
              $('input[name="startdate"]').val(startdate);
              $('input[name="finishdate"]').val(finishdate);
            }
            
        })


     
