html(lang='en')
  include ../components/stage_header.pug
  body.bg-light
    .container.prelimdocs
      include ../components/stage_navbar.pug
      form(method='post', enctype="multipart/form-data")
        include ../components/buttons.pug
        .row.motorinfo
          .col-md-4.order-md-2.mb-4#closepane.show
            h4.d-flex.justify-content-between.align-items-center.mb-3
              span.text-muted Motor Group Pane
              //- var smcount =  motorObjOncheckup.submotors
              //span.badge.badge-secondary.badge-pill.motorcount #{smcount.length+1}
            ul.list-group.mb-3.motorpane
                li.list-group-item.d-flex.justify-content-between.lh-condensed(data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                  div
                    h6.my-0 #{motordetails.notstarted[0].motorType} - #{oncheckup.power}
                    small.text-muted Motor/TAG ID: #{motordetails.notstarted[0].tagID}
            //- .input-group.card.p-2
            //-   button.btn.btn-info#save(type="button") Save
            //- .input-group.card.p-2
            //-   button.btn.btn-danger#submit(type='submit' disabled) Submit
          .col-md-8.order-md-1.motorcol
            h4.mb-3 Motor Details
            form
              #accordionExample.accordion
                .card
                  #headingOne.card-header.mainmotor
                    h2.mb-0
                      button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | Main Motor
                    .closepane
                      input.btn.btn-primary(type='button' name='closepane' value='Close Pane' data-toggle="collapse" data-target="#closepane" aria-expanded="true" aria-controls="closepane")
                  #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                      .row
                        .col-md-6.mb-3
                          label(for='download') Upload Scanned PO
                          input#uploadselect(type='file' name='uploadedPO' value='Upload' required) 
                        .col-md-6.mb-3  
                          label(for='voltage') PO#
                          input.form-control(type='text' name='pono' placeholder='' )
                      .row
                          .col-md-6.mb-3  
                            label(for='voltage') Generate DR
                            if(disableGenerate == false)
                              input.form-control.btn-primary(type='button' name='genDR' placeholder='' required='' value='Generate')
                            else 
                              input.form-control.btn.btn-primary(type='button' name='genDR' placeholder='' required='' value='Generate' disabled)
                              .alert.alert-danger(role='alert')
                                | Please complete this motor's submotor first. Its Motor ID is: 
                                b #{child} 
                          .col-md-6.mb-3.genDR 
                      .row
                        .col-md-6.mb-3   
                          label(for='voltage') DR No.
                          input.form-control(type='text' name='drno' placeholder='' required='')
                        .col-md-6.mb-3
                            label.form-label(for='download') Upload Scanned DR 
                            input#uploadselect.form-control-plaintext(type='file' name='uploadedDR' value='Upload' required) 
                        .col-12
                          .form-check
                            input#invalidCheck2.form-check-input(type='checkbox' value='invoice'  name='invoice')
                            label.form-check-label(for='invalidCheck2')
                              | Invoice to Follow?
                      .row
                        .mb-3.col-md-6.mt-3
                          label(for='username') Delivered by
                          select.form-control(name='deliveredby' required='')
                            each delivery_user in fordelivery_user
                              option #{delivery_user.name}
                      .row
                        .col-md-6.mb-3  
                          label(for='voltage') Start Date
                          input.form-control(type='date' name='startdate' placeholder='' required='')
                        .col-md-6.mb-3  
                          label(for='voltage') Finish Date
                          input.form-control(type='date' name='finishdate' placeholder='' required='')

    include ../components/stage_footer.pug
    script(src='../js/common.js')
    script. 
        - $(document).ready(function() {
            const tagID = !{JSON.stringify(tagID)};
            const draft = !{JSON.stringify(draft)};
            var baseurl = window.location.protocol + "//" + window.location.host + "/";
            $.ajax({   
                async: true,  
                method: 'GET',
                url: baseurl+'motor/rewinder/'+tagID,                        
                success: function (data) {                        
                    tmp = data;
                    $('.rewinders').val(data[0].rewindername)
                },
                error: function (xhr, text, error) {              
                    alert('Error: ' + error);
                }
            })

            $('input[name="genDR"]').on('click', function(){   
                $("#submit").prop('disabled', false);
                var grandparent = $(this).parent().parent();
                grandparent.find('.genDR').remove();
                $('.genDR').remove()
                $.ajax({   
                  async: true, 
                  method: 'POST',
                  data:  $('form').serialize(),   
                  url: baseurl+'io/asset/fordelivery/dr/notexists/'+tagID,                          
                  success: function (data) {  
                    grandparent.append('<div class="col-md-6 mb-3 genDR"><label for="voltage">Generated Content</label><div class="gencard card"><div class="card-body"><a target="_blank" href="'+baseurl+'io/asset/fordelivery/dr/notexists/'+tagID+'">Click here</a></div></div></div>');
                  },
                  error: function (xhr, text, error) {              
                    alert('Error: ' + error);
                  }
                })
              
            })

            -$('#save').click(function(e) {
              $.magnificPopup.open({
                items: {
                  src: '<div class="white-popup">Saving...</div>',
                  type: 'inline'
                }
              });

              $.ajax({   
                  async: true, 
                  method: 'POST',
                  data:  $('form').serialize(),   
                  url: baseurl+'motor/save/fordelivery/'+tagID,                          
                  success: function (data) {  
                    $.magnificPopup.close();
                    //Close the popup
                    e.preventDefault();
                    if (window.parent == window.top) {
                        window.parent.$.magnificPopup.close();
                    }
                  },
                  error: function (xhr, text, error) {              
                    alert('Error: ' + error);
                  }
              })
            });

            //MOD
            if(draft)
            {
              const fordelivery_user = !{JSON.stringify(fordelivery_user)};
              $('input[name="pono"]').val(draft[0].pono)
              $('input[name="drno"]').val(draft[0].drno)
              
              for(var i=0; i<fordelivery_user.length; i++)  
              {
                if(draft[0].deliveredby == fordelivery_user[i].name)                     
                  $('select[name="deliveredby"]').append('<option selected>'+fordelivery_user[i].name+'</option>')
                else 
                  $('select[name="deliveredby"]').append('<option>'+fordelivery_user[i].name+'</option>')
              }

              var now = new Date(draft[0].startdate);
              var day = ("0" + now.getDate()).slice(-2);
              var month = ("0" + (now.getMonth() + 1)).slice(-2);
              var startdate = now.getFullYear()+"-"+(month)+"-"+(day) ;

              var now = new Date(draft[0].finishdate);
              var day = ("0" + now.getDate()).slice(-2);
              var month = ("0" + (now.getMonth() + 1)).slice(-2);
              var finishdate = now.getFullYear()+"-"+(month)+"-"+(day) ;

              $('input[name="startdate"]').val(startdate);
              $('input[name="finishdate"]').val(finishdate);


              if(draft[0].invoice != null)
                $('input[name="invoice"]').prop('checked', true)
              else 
                $('input[name="invoice"]').prop('checked', false)
            }
            
        })


     
