doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator' content='Jekyll v4.1.1')
    title Checkout example · Bootstrap
    link(rel='canonical' href='https://getbootstrap.com/docs/4.5/examples/checkout/')
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.5/examples/checkout/form-validation.css' rel='stylesheet')
    link(href='../css/db_inner.css' rel='stylesheet')
  body.bg-light
    .container
      nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo01.collapse.navbar-collapse.prev
          a.navbar-brand.col-sm-7(href='#') Stage: On Checkup -> Preliminary Docs
          form.form-inline.col-sm-5
            .btn-group
              button.btn.btn-warning(type='button') Action
              button.btn.btn-warning.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='#') On Checkup
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
                .dropdown-divider
                a.dropdown-item(href='#') Separated link
      form(method='post')
        .row.motorinfo
          .col-md-4.order-md-2.mb-4#closepane.show
            h4.d-flex.justify-content-between.align-items-center.mb-3
              span.text-muted Motor Group Pane
              - var smcount =  motorObjOncheckup.submotors
              span.badge.badge-secondary.badge-pill.motorcount #{smcount.length+1}
            ul.list-group.mb-3.motorpane
              li.list-group-item.d-flex.justify-content-between.lh-condensed(data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                div
                  h6.my-0 Motor 1
                  small.text-muted ID: 1234

            .input-group.card.p-2
              input.form-control.motorcount2(type='text' name='submotorctr' placeholder='')
              button.btn.btn-danger(type='submit') Submit
          .col-md-8.order-md-1.motorcol
            h4.mb-3 Motor Details
            form
              #accordionExample.accordion
                .card
                  #headingOne.card-header.mainmotor
                    h2.mb-0
                      button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | Main Motor
                    .closepane
                      input.btn.btn-primary(type='button' name='closepane' value='Close Pane' data-toggle="collapse" data-target="#closepane" aria-expanded="true" aria-controls="closepane")
                  #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                      .row
                        .col-md-6.mb-3  
                          label(for='voltage') Name of Rewinder
                          select.form-control.rewinders(name='rewindername' placeholder='' required='')
                        .col-md-6.mb-3
                          label(for='download') Before Image
                          input.form-control.btn-warning(type='button' name='beforeimage' required='' value='Upload') 
                      
                      .row
                        .col-md-6.mb-3#qformcont
                          label(for='download') Quotation Form
                          input.form-control.btn-warning#qform(type='button' name='beforeimage' required='' value='Generate') 

                      .card
                        #headingOne.card-header
                          h5.mb-0
                            button.btn.btn-link(type='button' data-toggle='collapse' data-target='#statorassembly' aria-expanded='false' aria-controls='statorassembly')
                              | Stator Assembly
                        #statorassembly.collapse(aria-labelledby='headingOne' data-parent='#statorassembly')
                          .card-body
                            table.table
                             thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') Qty
                                    th(scope='col') Unit Cost
                                    th(scope='col') Total Cost
                                tbody
                                - counter = 1
                                each scope in motorObjOncheckup.stator
                                    tr 
                                        - var name = '';
                                        - test = 'JHJISADJIASJD';
                                        if scope.name == 'stator-complete-rewinding'
                                          - name = 'Complete Reconditioning Package';
                                        else if scope.name == 'stator-inspection'
                                          - name = 'Inspection and Checking of unit and Data Recording';
                                        else if scope.name == 'stator-complete-recon'
                                          - name = 'Complete Reconditioning Package';
                                        else if scope.name == 'conversion:'
                                          - name = 'Conversion of motor any parameter';
                                        th #{name}
                                        td 
                                            input.form-control.qty(type='text' name='stator-qty-'+counter placeholder='' required='' value='1')
                                        td 
                                            input.form-control.unitcost(type='text' name='stator-unitcost-'+counter placeholder='' required='' disabled value='0')
                                        td 
                                            input.form-control(type='text' name='stator-totalcost-'+counter placeholder='' required='' disabled value='0')
                                        - counter++;
                      .card
                        #headingOne.card-header
                          h5.mb-0
                            button.btn.btn-link(type='button' data-toggle='collapse' data-target='#rotorassembly' aria-expanded='false' aria-controls='rotorassembly')
                              | Accessories
                        #rotorassembly.collapse(aria-labelledby='headingOne' data-parent='#rotorassembly')
                          .card-body
                            table.table
                             thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') Item
                                    th(scope='col') Qty
                                    th(scope='col') Unit Cost
                                    th(scope='col') Total Cost
                                tbody
                                - counter = 1
                                each scope in motorObjOncheckup.accessories
                                    tr 
                                        - var name = '';
                                        if scope.name == 'rotor-loadside'
                                          - name = 'Replacement  of bearing (Load Side)';
                                        else if scope.name == 'rotor-fanslide'
                                          - name = 'Replacement  of bearing (Fan Side)';
                                        else if scope.name == 'rotor-gearbox1'
                                          - name = 'Replacement  of bearing (Gear Box)';
                                        else if scope.name == 'rotor-gearbox2'
                                          - name = 'Replacement  of bearing (Gear Box)';
                                        else if scope.name == 'rotor-gearbox3'
                                          - name = 'Replacement  of bearing (Gear Box)';
                                        else if scope.name == 'rotor-gearbox4'
                                          - name = 'Replacement  of bearing (Gear Box)';
                                        else if scope.name == 'rotor-gearbox5'
                                          - name = 'Replacement  of bearing (Gear Box)';
                                        else if scope.name == 'rotor-gearbox6'
                                          - name = 'Replacement  of bearing (Gear Box)';
                                        else if scope.name == 'acce-options-capacitor'
                                          - name = scope['acce-options-capacitor1'] + ' of ' + scope['acce-options-capacitor2'] + ' Capacitor'; 
                                        else if scope.name == 'acce-options-fanblade'
                                          - name = scope['acce-options-fanblade1'] + ' of ' + scope['acce-options-fanblade2'] + ' Fan Blade'; 
                                        else if scope.name == 'acce-options-oilseal'
                                          - name = scope['acce-options-oilseal1'] + ' of ' + scope['acce-options-oilseal2'] + ' Oil Seal'; 
                                        else if scope.name == 'acce-options-shaftseal'
                                          - name = scope['acce-options-shaftseal1'] + ' of ' + scope['acce-options-shaftseal2'] + ' Shaft Seal'; 
                                        else if scope.name == 'acce-options-oring-or-packing'
                                          - name = 'Replacement of '+scope['acce-options-oring-or-packing1']; 

                                        td #{name}
                                        if(scope.name != 'acce-options-capacitor' && scope.name != 'acce-options-fanblade' && scope.name != 'acce-options-oilseal' && scope.name != 'acce-options-shaftseal'  && scope.name != 'acce-options-oring-or-packing')
                                          td.acce-parent
                                              select.form-control.acce.acce(name = 'acce-item-'+counter )
                                        else 
                                          td
                                            input.form-control(type='text' name='acce-item-'+counter placeholder='' required='' )
                                        td
                                            input.form-control.qty(type='text' name='acce-qty-'+counter placeholder='' required='' value='1')
                                        td
                                            input.form-control.unitcost(type='text' name='acce-unitcost-'+counter placeholder='' required='' value='0')
                                        td
                                            input.form-control(type='text' name='acce-totalcost-'+counter placeholder='' required='' disabled value='0')
                                        - counter++;
                      .card
                        #headingOne.card-header
                          h5.mb-0
                            button.btn.btn-link(type='button' data-toggle='collapse' data-target='#accessories' aria-expanded='false' aria-controls='accessories')
                              | Mechanical
                        #accessories.collapse(aria-labelledby='headingOne' data-parent='#accessories')
                          .card-body
                            table.table
                             thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') Item
                                    th(scope='col') Qty
                                    th(scope='col') Unit Cost
                                    th(scope='col') Total Cost
                                tbody
                                - counter = 1
                                each scope in motorObjOncheckup.mechanical
                                    tr(class = scope.name) 
                                        - var name2 = '';
                                        if scope.name == 'acce-fancover'
                                          - name2 = 'Fabrication of Fan Cover';
                                        else if scope.name == 'acce-terminal'
                                          - name2 = 'Fabrication of Terminal Cover';
                                        else if scope.name == 'acce-wielding'
                                          - name2 = 'Welding of Endplate';
                                        else if scope.name == 'acce-terminalpost'
                                          - name2 = 'Fabrication of Terminal Post';
                                        else if scope.name == 'acce-options-capilla-or-gear'
                                          - name2 = scope['acce-options-capilla-or-gear1']+' of '+scope['acce-options-capilla-or-gear2']
                                        else if scope.name == 'acce-cable'
                                          - name2 = 'Fabrication of Adaptor Cable';  
                                        else if scope.name == 'acce-alignment'
                                          - name2 = 'Fabrication of Shafting including Alignment'; 
                                        else if scope.name == 'acce-finge-coupling'
                                          - name2 = 'Replacement of Flange Coupling including Reboring'; 
                                        else if scope.name == 'acce-shafting'
                                          - name2 = 'Build up and Machining of Shafting'; 
                                        else if scope.name == 'acce-welding-motor'
                                          - name2 = 'Welding of Motor Base'; 
                                        else if scope.name == 'acce-reboring-housing'
                                          - name2 = 'Reboring of Bearing Housing'; 
                                        else if scope.name == 'acce-sleeving'
                                          - name2 = 'Sleeving of Bearing Housing'; 
                                        
                                        td #{name2}
                                        if(scope.name != 'acce-fancover' && scope.name != 'acce-terminal' && scope.name != 'acce-wielding' && scope.name != 'acce-terminalpost'  && scope.name != 'acce-options-capilla-or-gear' && scope.name != 'acce-cable' && scope.name != 'acce-alignment' && scope.name != 'acce-finge-coupling' && scope.name != 'acce-welding-motor' && scope.name != 'acce-shafting')
                                          td.acce-parent
                                              select.form-control(name = 'mech-item-'+counter )
                                                option Loan Side
                                                option Fan Side
                                                option Both Sides
                                        else 
                                          td
                                            input.form-control(type='text' name='mech-item-'+counter placeholder='' required='' )
                                        td 
                                            input.form-control.qty(type='text' name='mech-qty-'+counter placeholder='' required='' value='1')
                                        td 
                                            input.form-control.unitcost(type='text' name='mech-unitcost-'+counter placeholder='' required='' value='0')
                                        td 
                                            input.form-control.totalcost(type='text' name='mech-totalcost-'+counter placeholder='' required='' disabled value='0')
                                        - counter++
                      .card
                        #headingOne.card-header
                          h5.mb-0
                            button.btn.btn-link(type='button' data-toggle='collapse' data-target='#dynamicbalance' aria-expanded='false' aria-controls='dynamicbalance')
                              | Dynamic Balanacing of
                        #dynamicbalance.collapse(aria-labelledby='headingOne' data-parent='#dynamicbalance')
                          .card-body
                            table.table
                             thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') Qty
                                    th(scope='col') Unit Cost
                                    th(scope='col') Total Cost
                                tbody
                                - counter = 1
                                each scope in motorObjOncheckup.dynamic
                                    tr(class = scope.name) 
                                        - var name3 = '';
                                        if scope['dynamic-options2']
                                          - name3 = scope['dynamic-options2'];
                                        th #{name3}
                                        td 
                                            input.form-control.qty(type='text' name='dynamic-qty-'+counter placeholder='' required='' value='1')
                                        td 
                                            input.form-control.unitcost(type='text' name='dynamic-unitcost-'+counter placeholder='' required='' disabled value='0')
                                        td 
                                            input.form-control.totalcost(type='text' name='dynamic-totalcost-'+counter placeholder='' required='' disabled value='0')
                                        - counter++
                      .card
                        #headingOne.card-header
                          h5.mb-0
                            button.btn.btn-link(type='button' data-toggle='collapse' data-target='#misc' aria-expanded='false' aria-controls='misc')
                              | Miscelleneous
                        #misc.collapse(aria-labelledby='headingOne' data-parent='#misc')
                          .card-body
                            table.table
                             thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') Qty
                                    th(scope='col') Unit Cost
                                    th(scope='col') Total Cost
                                tbody
                                - counter = 1
                                each scope in motorObjOncheckup.misc
                                    tr 
                                        th #{scope.name}
                                        td 
                                            input.form-control.qty(type='text' name='misc-qty-'+counter placeholder='' required='' value='1')
                                        td 
                                            input.form-control.unitcost(type='text' name='misc-unitcost-'+counter placeholder='' required='' value='0')
                                        td 
                                            input.form-control(type='text' name='misc-totalcost-'+counter placeholder='' required='' disabled value='0')
                                        - counter++;
                            		
                  
    footer.my-5.pt-5.text-muted.text-center.text-small
      p.mb-1 © 2020 Calamba Allied Industrial Corp.
      ul.list-inline
        li.list-inline-item
          a(href='#') Web App by Lan Cortez
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\\/script>');
    script(src='https://getbootstrap.com/docs/4.5/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
    script(src='https://getbootstrap.com/docs/4.5/examples/checkout/form-validation.js')
    script(src='../js/stages/prelimdocs.js')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script. 
        
         $( document ).ready(function() {
            var motorobject = !{JSON.stringify(motorObjOncheckup)}
            var motorrpm = !{JSON.stringify(motorrpmpower[0].rpm)}
            var motorpower = !{JSON.stringify(motorrpmpower[0].power)}
            var motorpowerval = motorpower.split(' ')[0]
            var motorpowertype = motorpower.split(' ')[1]
            var tableurl = null
            var baseurl = window.location.protocol + "//" + window.location.host + "/"
            var hzspeed = Math.floor((120*motorobject.frequency)/motorrpm);
            if(hzspeed >= 8) hzspeed = 5
            else if(hzspeed >= 6 && hzspeed < 8) hzspeed = 4
            else if(hzspeed < 4) hzspeed = 3
            else hzspeed = 2

            if(motorpowertype == 'HP') tableurl = baseurl+'motor/hpTable/'+motorpowerval;
            else if (motorpowertype == 'KW') tableurl = baseurl+'motor/kwTable/'+motorpowerval;
            
            if(tableurl)
            {
              var hptable = function () {
                  var tmp = null;
                  $.ajax({   
                      async: false, 
                      method: 'GET',
                      url: tableurl,                        
                      success: function (data) {                        
                          tmp = data;
                      },
                      error: function (xhr, text, error) {              
                          alert('Error: ' + error);
                      }
                  })
                  return tmp;
              }();
            }
          //-GENERAL STUFF
          //-Qty
          var numberOnly ='';
          $('.qty').on('change', function(){
            
            if($(this).attr('name').includes('stator'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($(this).val());
              var unit = parseFloat($('input[name=stator-unitcost-' + numberOnly + ']').val());
              - $('input[name="stator-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('acce-qty'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($(this).val());
              var unit = parseFloat($('input[name=acce-unitcost-' + numberOnly + ']').val());
              - $('input[name="acce-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('mech-qty'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($(this).val());
              var unit = parseFloat($('input[name=mech-unitcost-' + numberOnly + ']').val());
              - $('input[name="mech-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('dynamic-qty'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($(this).val());
              var unit = parseFloat($('input[name=dynamic-unitcost-' + numberOnly + ']').val());
              - $('input[name="dynamic-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('misc-qty'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($(this).val());
              var unit = parseFloat($('input[name=misc-unitcost-' + numberOnly + ']').val());
              - $('input[name="misc-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
          })

          
          rewinderurl = baseurl+'company/getRewinders/'
          $.ajax({   
              async: false, 
              method: 'GET',
              url: rewinderurl,                        
              success: function (data) {    
               
                  for(var i=0; i<data.length; i++)
                  {
                    -$('.rewinders').append('<option>' + data[0].rewindername + '</option>');
                  }                
              },
              error: function (xhr, text, error) {              
                  alert('Error: ' + error);
              }
          })

          -$('.unitcost').on('change', function(){
            if($(this).attr('name').includes('stator'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($('input[name=stator-qty-' + numberOnly + ']').val());
              var unit = parseFloat($('input[name=stator-unitcost-' + numberOnly + ']').val());
              - $('input[name="stator-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('acce-unitcost'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
             var qty = parseFloat($('input[name=acce-qty-' + numberOnly + ']').val());
              var unit = parseFloat($('input[name=acce-unitcost-' + numberOnly + ']').val());
              - $('input[name="acce-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('mech-unitcost'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($('input[name=mech-qty-' + numberOnly + ']').val());
              var unit = parseFloat($('input[name=mech-unitcost-' + numberOnly + ']').val());
              - $('input[name="mech-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('dynamic-unitcost'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($('input[name=dynamic-qty-' + numberOnly + ']').val());
              var unit = parseFloat($('input[name=dynamic-unitcost-' + numberOnly + ']').val());
              - $('input[name="dynamic-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
            else if($(this).attr('name').includes('misc-unitcost'))
            {
              numberOnly = $(this).attr('name').replace(/\D/g,'');
              var qty = parseFloat($('input[name=misc-qty-' + numberOnly + ']').val());
              var unit = parseFloat($('input[name=misc-unitcost-' + numberOnly + ']').val());
              - $('input[name="misc-totalcost-' + numberOnly+'"]').val(qty*unit)
            }
          })

          - $('.acce').on('change', function(){
            const selectdd = $(this);
            - $.ajax({   
                method: 'GET',
                url: baseurl + 'motor/priceList/'+$(this).val().replace(' ', '_'),                        
                success: function (data) {    

                  numberOnly = $(selectdd).attr('name').replace(/\D/g,'');   
                  var qty = parseFloat($('input[name=acce-qty-' + numberOnly + ']').val());
                  $('input[name=acce-unitcost-' + numberOnly + ']').val(data[0].price);   
                  var unit = parseFloat($('input[name=acce-unitcost-' + numberOnly + ']').val());         
                  - $('input[name="acce-totalcost-' + numberOnly+'"]').val(qty*unit)
                },
                error: function (xhr, text, error) {              
                    alert('Error: ' + error);
                }
            })

          })

          //-STATOR ASSEMBLE

          //-Complete Package Option
          if(motorobject.stator[1].name == 'stator-complete-recon'){
            - $('input[name="stator-unitcost-2"]').attr('value', (hptable[0]['rpm-'+(hzspeed-1)])/2);
            - $('input[name="stator-totalcost-2"]').attr('value', (hptable[0]['rpm-'+(hzspeed-1)])/2);
          } else if(motorobject.stator[1].name == 'stator-complete-rewinding')
          {
            - $('input[name="stator-unitcost-2"]').attr('value', (hptable[0]['rpm-'+(hzspeed-1)]));
            - $('input[name="stator-totalcost-2"]').attr('value', (hptable[0]['rpm-'+(hzspeed-1)]));
          }
          
          //-Conversion of motor any parameter
          - $('input[name="stator-unitcost-3"]').attr('value', 0.15*(hptable[0]['rpm-'+(hzspeed-1)]));
          - $('input[name="stator-totalcost-3"]').attr('value', 0.15*(hptable[0]['rpm-'+(hzspeed-1)]));

          //Reboring of Bearing Housing
          tableurl = null;
          if(motorpowertype == 'HP') tableurl = baseurl+'motor/hpTable2/'+motorpowerval;
          else if (motorpowertype == 'KW') tableurl = baseurl+'motor/kwTable2/'+motorpowerval;
          
          if(tableurl)
            {
              var hptable2 = function () {
                  var tmp = null;
                  $.ajax({   
                      async: false, 
                      method: 'GET',
                      url: tableurl,                        
                      success: function (data) {                        
                          tmp = data;
                      },
                      error: function (xhr, text, error) {              
                          alert('Error: ' + error);
                      }
                  })
                  return tmp;
              }();
            }
          //- console.log(hptable2);

          if(hptable2)
          {
            -$('.acce-shafting').find('.unitcost').attr('value', (hptable2[0]['shafting']));
            -$('.acce-shafting').find('.totalcost').attr('value', (hptable2[0]['shafting']));
            //- -$('.acce-shafting').find('.unitcost').attr('disabled', 'disabled');
            -$('.acce-reboring-housing').find('.unitcost').attr('value', (hptable2[0]['bearinghousing']));
            -$('.acce-reboring-housing').find('.totalcost').attr('value', (hptable2[0]['bearinghousing']));
            //- -$('.acce-reboring-housing').find('.unitcost').attr('disabled', 'disabled');
            -$('.acce-sleeving').find('.unitcost').attr('value', (hptable2[0]['bearinghousing']));
            -$('.acce-sleeving').find('.totalcost').attr('value', (hptable2[0]['bearinghousing']));
            //- -$('.acce-sleeving').find('.unitcost').attr('disabled', 'disabled');
            -$('.dynamic-options').find('.unitcost').attr('value', (hptable2[0]['dynamicbalancing']));
            -$('.dynamic-options').find('.totalcost').attr('value', (hptable2[0]['dynamicbalancing'])); 
            //- -$('.dynamic-options').find('.unitcost').attr('disabled', 'disabled');
          }
         

          //-ACCESSORIES
          pricelisturl = baseurl + 'motor/priceList/';
          -$.ajax({   
              async: true,
              method: 'GET',
              url: pricelisturl,                        
              success: function (data) {                        
                  for(var i=0; i<data.length; i++){
                    - $('.acce').append('<option>' + data[i].bearing + '</option>')
                  }
                  //- console.log(data);
              },
              error: function (xhr, text, error) {              
                  alert('Error: ' + error);
              }
          }).done(function(data)
          {
              var  test = $('.acce option:selected').val();
              
              for(var i=0; i<motorobject.accessories.length; i++)
              {
                if(motorobject.accessories)
                {
                  //- console.log(motorobject.accessories)
                  if(motorobject.accessories[i].name == 'rotor-loadside' || motorobject.accessories[i].name == 'rotor-fanslide' || motorobject.accessories[i].name == 'rotor-gearbox1' || motorobject.accessories[i].name == 'rotor-gearbox2' || motorobject.accessories[i].name == 'rotor-gearbox3' || motorobject.accessories[i].name == 'rotor-gearbox4' || motorobject.accessories[i].name == 'rotor-gearbox5' || motorobject.accessories[i].name == 'rotor-gearbox6')  
                  {
                    //alert('Yes!');
                    $('input[name="acce-unitcost-' + (i+1) + '"]').val(data[0].price);
                    $('input[name="acce-totalcost-' + (i+1) + '"]').val(data[0].price);
                  }
                 
                }  
              }
          })
        })

        
        //-   $.ajax({   
        //-       async: true,
        //-       method: 'GET',
        //-       url: pricelisturl,                        
        //-       success: function (data) {                        
        //-           for(var i=0; i<priceList.length; i++){
        //-             - $('.acce').append('<option>' + priceList[i].bearing + '</option>')
        //-           }
        //-       },
        //-       error: function (xhr, text, error) {              
        //-           alert('Error: ' + error);
        //-       }
        //-   })   
        //- })


        - $("form input").prop("disabled", false);
        - $('#qform').on('click', function(){
            $('.generatedlink').remove();
            var motorobject = !{JSON.stringify(motorObjOncheckup)}
            var baseurl = window.location.protocol + "//" + window.location.host + "/"
            $.ajax({
                method: 'POST',
                url: baseurl+'io/asset/quotation/'+!{JSON.stringify(motorObjOncheckup.tagID)},    
                data:  $('form').serialize() + '&' + $.param(motorobject),                    
                success: function (data) {                        
                    $('#qformcont').parent().append('<div class="col-md-6 mb-3 generatedlink"><label for="voltage">Generated Content</label><div class="gencard card"><div class="card-body"><a target="_blank" href="' +baseurl+ 'io/asset/quotation/' + !{JSON.stringify(motorObjOncheckup.tagID)} + '">Click here</a></div></div></div>');
                    //- alert('SUCCES!');
                    
                },
                error: function (xhr, text, error) {               
                    alert('Error: ' + text);
                }
            })
            
        })

        - $("input[name=closepane]").on('click', function(){
            if($('.motorcol').hasClass('col-md-8'))
            {
                $('.motorcol').removeClass('col-md-8');
                $('.motorcol').addClass('col-md-12');
            }else 
            {
                $('.motorcol').addClass('col-md-8');
                $('.motorcol').removeClass('col-md-12');
            }
        })
        

         if(!{JSON.stringify(motorObjOncheckup.submotors)}.length > 0)
         {
            ctr=1;
            const motorSubmotors = !{JSON.stringify(motorObjOncheckup.submotors)};
            - $.each(motorSubmotors, function(index, value){
              var submotor = !{JSON.stringify(motorObjOncheckup.submotors)};
              - $('.accordion').append(prelimdocs(ctr, submotor[ctr-1]));

              //Submotor pane 
              -$('.delmotor').remove();
              -$('.motorpane').append('<li class="list-group-item d-flex justify-content-between lh-condensed smp-'+ctr+' submotor-'+ctr+'  data-toggle="collapse" data-target="#collapseOne-'+ctr+'" aria-expanded="false" aria-controls="collapseOne-'+ctr+'"><div><h6 class="my-0">Sub Motor '+ctr+'</h6><small class="text-muted">ID: 1234</small></div>'
                                      +'</li>')
              ctr++;
            }); 
        }

        
        
      



      

     



     
